@model ListViewModel<ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach(var product in Model.List)
{
	<div>@product.Name</div>
}

	<div paging-model="@Model.PagingInfo" page-action="Index"></div>
